/* line 1, ../sass/style.scss */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* line 7, ../sass/style.scss */
.wrapper {
  max-width: 920px;
  padding: 20px;
  margin: 0 auto;
}
/* line 11, ../sass/style.scss */
.wrapper h1 {
  color: blueviolet;
  margin-top: 30px;
}
/* line 15, ../sass/style.scss */
.wrapper div.conteneur {
  background-color: bisque;
  margin-bottom: 10px;
}
/* line 18, ../sass/style.scss */
.wrapper div.conteneur h1 {
  color: #00d2ff;
  background-color: aquamarine;
  margin: 0;
}
/* line 23, ../sass/style.scss */
.wrapper div.conteneur div {
  border: 2px solid black;
}
/* line 27, ../sass/style.scss */
.wrapper .height-big {
  height: 150px;
}
